.siema {
    text-decoration: solid;
    text-align: center;
    text-transform: uppercase;
    font-size: 5vmin;
    font-weight: bold;
    // @media screen and (max-width: 400px) {
    //     font-size: 3vh;
    // }
}

.vid{
    margin-top: 2%;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
}